In [1]:
%cd '/mnt/c/Users/yogi/Documents/Dev/cryptobot'

/mnt/c/Users/yogi/Documents/Dev/cryptobot

In [2]:
import pandas as pd
import numpy as np

In [4]:
from binance.client import Client
import config #config file with api keys
binance = Client(config.binance_api_key, config.binance_api_secret)

In [37]:
transactions = pd.DataFrame()
transactions.head()

Empty DataFrame
Columns: []
Index: []

In [36]:
inserts = []
inserts.append({
    "pair": "ETH/BTC",
    "price": 23.00,
    "qty": 10.00,
})
inserts.append({
    "pair": "BCG/BTC",
    "price": 12,
    "qty": 1.00,
})
inserts.append({
    "pair": "BCG/BTC",
    "price": 10,
    "qty": 10.00,
})

#             symbol=pair,
#             quantity=qtyStr,
#             price=priceStr,
#             side=SIDE_BUY,
#             type=ORDER_TYPE_LIMIT,
#             timeInForce=TIME_IN_FORCE_GTC)

In [38]:

transactions = transactions.append(inserts)

In [39]:
transactions.head()

      pair  price   qty
0  ETH/BTC   23.0  10.0
1  BCG/BTC   12.0   1.0
2  BCG/BTC   10.0  10.0

In [44]:
transactions.groupby('pair')['qty'].sum().to_dict()

{'BCG/BTC': 11.0, 'ETH/BTC': 10.0}